#Directories
.vs/
build/
build-int/
dependencies/
Editor/intermediates/
Editor/compilers/
Launcher/intermediates/
Launcher/compilers/
Launcher/assets/
Ragdoll/ffx/bin
Ragdoll/ffx/media
Ragdoll/ffx/media-cache
Ragdoll/ffx/sdk/bin

#Files
*.sln
*.user
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.csproj
*.csproj.user

*.cso
*.gltf
*.bin
*.png
*.html
*.glb
*.dds

#Specific files
imgui.ini
