#Directories
.vs/
build/
build-int/
!dependencies/
dependencies/*
!dependencies/nvrhi/
Editor/intermediates/
Editor/compilers/
Launcher/intermediates/
Launcher/compilers/
Launcher/assets/

#Files
*.sln
*.user
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.csproj
*.csproj.user

*.cso

#Specific files
imgui.ini
